@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table><tr><td height="10px"></td></tr></table>
<table cellpadding="4" cellspacing="4" width="90%" align="center"
       style="background-color: skyblue; border:solid 2px red; padding-top:20px;">
    <thead>
        <tr style="background-color:#F5F5F5;">
            <th>Student ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Class</th>
            <th>Enroll Year</th>
            <th>City</th>
            <th>Country</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="Stud in Students">
            <td>{{Stud.studentID}}</td>
            <td>{{Stud.name}}</td>
            <td>{{Stud.email}}</td>
            <td>{{Stud.class}}</td>
            <td>{{Stud.enrollYear}}</td>
            <td>{{Stud.city}}</td>
            <td>{{Stud.country}}</td>
            <td><a ng-click="editStudent(Stud.studentID)">Edit</a></td>
            <td><a ng-click="deleteStudent(Stud.studentID)">Delete</a></td>
        </tr>
    </tbody>
</table>  